body {
    font: "Poppins", Aerial, san-serif;
    background: #f9faff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.chart-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.ftco-navbar-light {
    background: white !important;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 0;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #074173 !important;
        padding: 1em 0;
        position: sticky;
        top: 0;
    }
}

.ftco-navbar-light .navbar-brand {
    color: #000000;
    padding: 0;
    position: relative;
    z-index: 0;
}

.ftco-navbar-light .navbar-brand small,
.ftco-navbar-light .navbar-brand .small {
    color: #074173;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-brand {
        color: #fff;
    }

    .ftco-navbar-light .navbar-brand small,
    .ftco-navbar-light .navbar-brand .small {
        color: #58A1CC;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.ftco-navbar-light .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 18px;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link span {
        display: inline-block;
    }
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 1rem;
        padding-top: 0;
        color: #fff;
    }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link.active {
    color: #084474;
    position: relative;
    z-index: 0;
}

@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link.active {
        color: #fff !important;
    }
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:hover,
.ftco-navbar-light .navbar-toggler:focus {
    text-decoration: none;
    color: #084474;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    font-weight: 800;
    font-size: 27px;
    color: #084474;
    z-index: 3;
    position: relative;
    line-height: 1.1;
    text-transform: uppercase;
}

.navbar-brand small,
.navbar-brand .small {
    font-size: 20px;
}

.small-text {
    font-size: 20px;
    font-weight: 800;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        line-height: 1;
    }
}

.navbar-brand span {
    color: #a6a6a6;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 11px;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
}

.hero-wrap {
    height: 100vh;
    min-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: 0;
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    background: #052c43;
    z-index: -1;
}

.hero-wrap.hero-wrap-2 {
    min-height: auto;
    height: 500px;
    background-position: center center;
    background-attachment: fixed;
}

.hero-wrap.hero-wrap-2 .overlay {
    opacity: .5;
}

.hero-wrap.hero-wrap-2 .slider-text {
    min-height: auto;
    height: 500px;
}

.hero-wrap .slider-text {
    height: 100vh;
    min-height: 750px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

.hero-wrap .slider-text .text {
    position: relative;
    z-index: 0;
}

.hero-wrap .slider-text .subheading {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
}

.hero-wrap .slider-text h1,
.hero-wrap .slider-text .h1 {
    font-weight: 400;
    color: #fff;
    font-size: 38px;
    line-height: 1.2;
}

.hero-wrap .slider-text h1 span,
.hero-wrap .slider-text .h1 span {
    color: #084474;
}

@media (max-width: 767.98px) {

    .hero-wrap .slider-text h1,
    .hero-wrap .slider-text .h1 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .hero-wrap .slider-text .btn {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
}

.hero-wrap .slider-text .breadcrumbs {
    font-size: 14px;
    margin-bottom: 10px;
    z-index: 99;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.hero-wrap .slider-text .breadcrumbs span {
    color: rgba(255, 255, 255, 0.8);
}

.hero-wrap .slider-text .breadcrumbs span i {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.hero-wrap .slider-text .breadcrumbs span a {
    color: rgba(255, 255, 255, 0.8);
}

.hero-wrap .slider-text .breadcrumbs span a:hover,
.hero-wrap .slider-text .breadcrumbs span a:focus {
    color: #084474;
}

.hero-wrap .slider-text .breadcrumbs span a:hover i,
.hero-wrap .slider-text .breadcrumbs span a:focus i {
    color: #084474;
}

.hero-wrap .slider-text .bread {
    font-weight: 400;
    color: #fff;
    font-size: 70px;
}

.slider-hero {
    position: relative;
    height: 100vh;
    min-height: 100%;
}

.slider-hero .work {
    width: 100%;
}

.slider-hero .work .img {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-position: top center;
    -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
}

.slider-hero .work .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
    background: #052c43;
    opacity: .5;
    width: 100%;
}

@media (max-width: 575.98px) {
    .slider-hero .work .img:after {
        width: 100%;
    }
}

.slider-hero .work .img.img2 {
    background-position: center center;
}

.slider-hero .work .text {
    color: rgb(255, 255, 255);
}

.slider-hero .work .text h1,
.slider-hero .work .text .h1 {
    font-weight: 300;
    color: #fff;
    font-size: 55px;
    line-height: 1.2;
}

.slider-hero .work .text p{
    font-weight: 200;
    font-size: 25px;
}

.slider-hero .work .text h1 span,
.slider-hero .work .text .h1 span {
    color: #084474;
}

@media (max-width: 767.98px) {

    .slider-hero .work .text h1,
    .slider-hero .work .text .h1 {
        font-size: 40px;
    }

    .slider-hero .work .text p{
        font-size: 15px;
    }
}

.slider-hero .work .text span {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: 500;
}

@media (max-width: 575.98px) {
    .slider-hero .work .text .btn {
        display: block;
        margin-bottom: 10px;
    }
}

.slider-hero .tns-controls {
    text-align: center;
    margin-bottom: 10px;
}

.slider-hero .tns-nav {
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 99;
}

@media (max-width: 767.98px) {
    .slider-hero .tns-nav {
        bottom: 40px;
    }
}

.slider-hero .tns-nav>[aria-controls] {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.slider-hero .tns-outer [aria-controls],
.slider-hero .tns-outer [data-action] {
    cursor: pointer;
}

.slider-hero .tns-nav>.tns-nav-active {
    background: #084474;
    width: 10px;
}

.bg-light {
    background: #f4f6ff !important;
}

.bg-darken {
    background: #084474 !important;
}

.top-text,
.bottom-text {
    text-align: justify;
}

.content-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro img {
    height: auto;
}

.image {
    flex: 0 0 50%;
}

.text {
    flex: 0 0 50%;
    text-align: justify;
}

@media (max-width: 991px) {
    .image,
    .text {
        flex: 0 0 100%;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .image {
        flex: 0 0 60%;
    }

    .text {
        flex: 0 0 40%;
    }
}

.btn {
    padding: 9px 12px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn span {
    font-size: 16px;
    line-height: 1;
    margin-left: 10px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #084474 !important;
    border: 1px solid #084474 !important;
    color: #fff !important;
}

.btn.btn-primary span {
    color: #fff !important;
}

.btn.btn-primary:hover {
    border: 1px solid #084474;
    background: transparent;
    color: #084474;
}

.btn.btn-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #084474 !important;
}

.btn.btn-white span {
    color: #084474 !important;
}

.btn.btn-white:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.form-control {
    height: 45px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

.form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

.form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

.form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

.form-control:focus,
.form-control:active {
    border-color: #084474 !important;
}

textarea.form-control {
    height: inherit !important;
}

.services-wrap {
    position: relative;
    margin-bottom: 25px;
}

.services-wrap .services {
    padding: 40px;
    display: block;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.03);
}

.services-wrap .services .icon {
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #084474;
    position: relative;
    margin-left: 0;
}

.services-wrap .services .icon span {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.services-wrap .services .text {
    padding: 0;
}

.services-wrap .services .text h2,
.services-wrap .services .text .h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
}

.services {
    width: 100%;
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1199.98px) {
    .services {
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .services {
        border-radius: 2px;
        margin-bottom: 10px;
    }
}

.services .img {
    width: 100%;
    height: 280px;
}

.services .icon {
    margin: 0 auto;
}

.services .icon span {
    font-size: 60px;
    line-height: 1.2;
    color: #084474;
}

.services .text {
    width: 100%;
    padding-left: 30px;
}

.services .text h2,
.services .text .h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services:hover,
.services.active {
    background: #084474;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.18);
}

.services:hover .icon,
.services.active .icon {
    background: white;
}

.services:hover .icon span,
.services.active .icon span {
    color: #fff;
}

.services:hover .text,
.services.active .text {
    color: rgba(255, 255, 255, 0.9);
}

.services:hover .text h2,
.services:hover .text .h2,
.services.active .text h2,
.services.active .text .h2 {
    color: #fff;
}

.services:hover .text .btn-custom,
.services.active .text .btn-custom {
    color: primary;
    border-color: #fff;
    background: #fff;
}

.ftco-image .icon {
    width: 80px;
    height: 80px;
    background: #084474;
    border-radius: 50%;
    position: relative;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.ftco-image .icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}

.ftco-image .text span {
    font-weight: 600;
}

.about-author .bio {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
}

.about-author .desc {
    width: calc(100% - 80px);
}

.about-author .desc h3,
.about-author .desc .h3 {
    font-size: 30px;
    font-weight: 400;
}

.ftco-section {
    padding: 2em 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 575.98px) {
    .ftco-section {
        padding: 0.5em 0;
    }
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}

.ftco-intro-2 {
    color: rgba(255, 255, 255, 0.8);
    z-index: 0;
    position: relative;
    padding: 5em 0;
}

.ftco-intro-2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #084474;
    z-index: -1;
}

@media (max-width: 767.98px) {
    .ftco-intro-2 {
        background-position: center center !important;
    }
}

.ftco-intro-2 .subheading {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.ftco-intro-2 h1,
.ftco-intro-2 .h1 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}

.ftco-footer {
    padding: 7em 0 0 0;
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, 0.9);
}

.ftco-footer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #000000;
    z-index: -1;
}

.ftco-footer .logo a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.ftco-footer .logo a small,
.ftco-footer .logo a .small {
    font-size: 20px;
    color: #58A1CC;
}

.ftco-footer .ftco-footer-widget h2,
.ftco-footer .ftco-footer-widget .h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", Arial, sans-serif;
}

.ftco-footer .ftco-footer-widget ul.list-unstyled li {
    margin-bottom: 10px;
    position: relative;
}

.ftco-footer .ftco-footer-widget ul.list-unstyled li a {
    color: rgba(255, 255, 255, 0.8);
}

.ftco-footer .ftco-footer-widget ul.list-unstyled li a span.ion {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 0;
}

.ftco-footer .ftco-footer-widget ul.list-unstyled li a:hover {
    color: white;
}

.ftco-footer .ftco-footer-widget ul.list-unstyled li a:hover span {
    color: #fff;
}

.ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.ftco-footer .block-23 ul {
    padding: 0;
}

.ftco-footer .block-23 ul li {
    font-size: 15px;
    padding-left: 0;
}

.ftco-footer .block-23 ul li,
.ftco-footer .block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 15px;
}

.ftco-footer .block-23 ul li span {
    color: rgba(255, 255, 255, 0.9);
    color: #084474;
}

.ftco-footer .block-23 ul li .icon,
.ftco-footer .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.9) !important;
}

.ftco-footer .block-23 ul li .icon {
    width: 40px;
    font-size: 15px;
    padding-top: 2px;
    color: #fff !important;
}

.ftco-footer .bg-darken p a {
    color: #fff;
}

.ftco-footer .block-21 .blog-img {
    display: block;
    height: 50px;
    width: 50px;
}

.ftco-footer .block-21 .text {
    width: calc(100% - 50px);
}

.ftco-footer .block-21 .text .heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.ftco-footer .block-21 .text .heading a {
    color: #fff;
}

.ftco-footer .block-21 .text .heading a:hover,
.ftco-footer .block-21 .text .heading a:active,
.ftco-footer .block-21 .text .heading a:focus {
    color: #fff;
}

.ftco-footer .block-21 .text .meta>div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.ftco-footer .block-21 .text .meta>div a {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer-social {
    padding: 0 !important;
    margin: 0;
    position: relative;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 0 0 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    padding-left: 0 !important;
}

.ftco-footer-social li a {
    margin: 0;
    height: 30px;
    width: 30px;
    display: block;
    color: #fff;
    border-radius: 4px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    background: #084474;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 17px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff !important;
}

.ftco-footer-social li a:hover {
    color: #fff !important;
}

#map {
    width: 100%;
    height: 400px;
}

@media (max-width: 767.98px) {
    #map {
        height: 300px;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(79, 134, 249, 0.1);
        -webkit-box-shadow: 0 0 0 0 rgba(79, 134, 249, 0.4);
        box-shadow: 0 0 0 0 rgba(79, 134, 249, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(79, 134, 249, 0);
        -webkit-box-shadow: 0 0 0 30px rgba(79, 134, 249, 0);
        box-shadow: 0 0 0 30px rgba(79, 134, 249, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(79, 134, 249, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(79, 134, 249, 0);
        box-shadow: 0 0 0 0 rgba(79, 134, 249, 0);
    }
}

.heading-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-section .subheading {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heading-section h2,
.heading-section .h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 1.4;
}

@media (max-width: 991.98px) {

    .heading-section h2,
    .heading-section .h2 {
        font-size: 40px;
    }
}

.heading-section.heading-section-white {
    color: rgba(255, 255, 255, 0.9);
}

.heading-section.heading-section-white .subheading {
    color: #fff;
}

.heading-section.heading-section-white h2,
.heading-section.heading-section-white .h2 {
    color: #fff;
}

.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftco-section-counter {
    padding: 5em 0;
    position: relative;
    z-index: 0;
}

.ftco-section-counter .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    background: #084474;
    z-index: -1;
}

.section-counter .counter-wrap-2 {
    width: 100%;
    position: relative;
    z-index: 0;
    display: block;
    text-align: center;
}

@media (max-width: 991.98px) {
    .section-counter .counter-wrap-2 {
        margin-bottom: 20px !important;
    }
}

.section-counter .number {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    display: inline-block;
    margin-bottom: 5px;
    display: block;
    letter-spacing: 5px;
}

.section-counter .caption {
    font-weight: 700;
    font-size: 14px;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

.staff {
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .img {
    height: 200px;
    width: 200px;
    display: block;
    background-position: top center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    border: 10px solid #f8f9fa;
    z-index: 0;
}

.staff .img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    content: '';
    opacity: 0;
    z-index: -1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .text {
    position: relative;
    background: #fff;
    padding: 110px 30px 30px 30px;
    border-radius: 4px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: -100px;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.01);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.01);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.03);
}

.staff .text h3,
.staff .text .h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .text .position {
    color: #084474;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.staff .ftco-social {
    padding: 0;
}

.staff .ftco-social li {
    list-style: none;
    margin-right: 2px;
    display: inline-block;
}

.staff .ftco-social {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .ftco-social li a {
    width: 34px;
    height: 34px;
    background: #084474;
    color: #fff;
    border-radius: 50%;
}

.staff:hover .text,
.staff:focus .text {
    background: #084474;
    color: rgba(255, 255, 255, 0.8);
}

.staff:hover .text h3,
.staff:hover .text .h3,
.staff:focus .text h3,
.staff:focus .text .h3 {
    color: #fff;
}

.staff:hover .text .position,
.staff:focus .text .position {
    color: #fff;
}

.staff:hover .ftco-social li a,
.staff:focus .ftco-social li a {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}


.map-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.map-container img {
    width: 100%;
    height: auto;
}

.highlight {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

.highlight:hover {
    opacity: 0.3;
}